{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Bienvenue sur Symfocook !</h1>
        <p class="lead">Explorez, partagez et découvrez les meilleures recettes.</p>
    </div>

    {{ form_start(form, {'attr': {'class': 'container-sm mt-4 d-flex gap-2 justify-content-center w-100', 'id': 'search-form' }}) }}
        {{ form_row(form.category, {'attr': {'class': 'form-select w-100' }}) }}
        {{ form_row(form.ingredient, {'attr': {'class': 'form-select w-100' }}) }}
    {{ form_end(form) }}

    <ul class="container d-flex flex-col flex-wrap justify-content-center gap-3 mt-5">
        {% for recipe in recipes %}
            <li class="card w-25">
                <article class="card-body">
                    <h5 class="card-title">{{recipe.title}}</h5>
                    <span class="badge text-bg-secondary">{{recipe.difficulty.value}}</span>
                    <span class="badge text-secondary border border-secondary">{{recipe.category}}</span>
                </article>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination w-100 mx-auto mt-5 d-flex justify-content-center gap-1">
        {% if pagination.page > 1 %}
            <a href="{{ path('home', { 'page': pagination.page - 1, 'category': app.request.query.get('category'), 'ingredient': app.request.query.get('ingredient') }) }}" class="btn btn-success">Précédent</a>
        {% endif %}

        {% for page in 1..pagination.totalPages %}
            <a href="{{ path('home', { page: page, 'category': app.request.query.get('category'), 'ingredient': app.request.query.get('ingredient')  }) }}" 
               class="btn {% if page == pagination.page %}border-success text-success{% else %}btn-success{% endif %}">
                {{ page }}
            </a>
        {% endfor %}

        {% if pagination.page < pagination.totalPages %}
            <a href="{{ path('home', { page: pagination.page + 1 }) }}" class="btn btn-success">Suivant</a>
        {% endif %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mt-5 custom-button">
            <a class="nav-link" href="{{ path('new_recipe') }}" class="custom-button">Écrire une recette</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('search-form');

            if (form) {
                form.addEventListener('change', () => {
                    form.submit();
                });
            }
        });
    </script>
{% endblock %} 
