{% extends 'base.html.twig' %}

{% block body %}
<div class="card m-auto" style="max-width: 650px;">
    <div class="card-body background-grey">
        <h2 class="card-title text-center text-success">Inscrivez-vous</h2>
        <p class="text-center text-muted">Rejoignez-nous pour découvrir des recettes vegan délicieuses !</p>
        {{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
            <div class="mb-3">
                {{ form_label(form.email, 'Adresse Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.password.first, 'Mot de Passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.password.second, 'Confirmer le Mot de Passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
            </div>
            <div class="d-grid">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
        <br>
        <div class="text-center">Vous avez déjà un compte ? <a href="{{ path('connexion') }}" class="text-decoration-none">Connectez-vous</a></div>
    </div>
</div>
{% endblock %}
